<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.music">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MusicPlayerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Music">
        <activity
            android:name=".activity.About"
            android:exported="false" />
        <activity
            android:name=".activity.Download"
            android:exported="false" />
        <activity
            android:name=".activity.History"
            android:exported="false" />
        <activity
            android:name=".activity.collect"
            android:exported="false" />

        <service
            android:name=".service.PlayMusicService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MediaService1"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".song.song2"
            android:exported="false" />
        <activity
            android:name=".song.song1"
            android:exported="false" />
        <activity
            android:name=".song.song"
            android:exported="false" />
        <activity
            android:name=".activity.fristActivity"
            android:exported="false" />
        <activity
            android:name=".activity.register"
            android:exported="false" />
        <activity
            android:name=".activity.login"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>